.roomListContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.roomListContainer > .exportExcel {
  position: absolute;
  top: 10vh;
  right: 0;
  margin: 1vh;
  padding: 0.75vmax 0;
  width: 8%;
  font: 300 1vmax cursive;
  text-align: center;
  color: white;
  border-radius: 0.25vmax;
  background-color: rgb(96, 127, 34);
  cursor: pointer;
  transition: all 0.5s;
}

.roomListContainer > .exportExcel:hover {
  background-color: rgb(141, 187, 47);
  color: black;
}

#roomListHeading {
  font: 400 2rem "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
  margin: 4rem 2rem 2rem 2rem;
  text-align: center;
}

.roomListTable {
  background-color: white;
  border: none !important;
}

.roomListTable div {
  font: 500 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none !important;
}

.roomListTable a,
.roomListTable button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.roomListTable a:hover {
  color: tomato;
}

.roomListTable button:hover {
  color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
}

.MuiDataGrid-columnHeaderWrapper {
  background-color: rgba(255, 0, 0, 0.759);
}

.roomListTable button {
  display: inline-block;
}

.MuiDataGrid-footerContainer {
  justify-content: center !important;
}
